<div class="contenu_marge">
	<div class="text-center">
		<h1>La rumeur ...</h1>
		<p><%= @my_gossip.content %> <%= link_to 'Editer', edit_gossip_path %> <%= link_to 'Supprimer', @gossip, method: :delete %></p>
		<p>Ajouter un commentaire :</p>
		<%= form_tag(:controller => 'comments', :action => 'create', :method => "post") do %>
			Auteur (anonyme): <%= text_field_tag 'author', @author %><br>
			Commentaire: <%= text_field_tag 'comment', @comment %><br>
			<%= hidden_field_tag(:id, @my_gossip.id) %>
			<%= submit_tag 'Add a comment' %><br>
		<% end %>
		<br>
	</div>
	<div class="contenu_comment">
		<h2>Les commentaires :</h2>
		<table class="table">
			<tr>
				<th>Auteurs</th>
				<th>Commentaires</th>
			</tr>

			<% @my_gossip.comments.each do |comment| %>
			<tr>
				<th><%= comment.anonymous_commentator %></th>
				<th><%= comment.body %></th>
				<th><%= link_to 'Modifier le commentaire', comment_path(comment.id) %></th>
			</tr>
			<% end %>
		</table>
	</div>
</div>